#create-post > form {
    display: flex;
    flex-flow: column wrap;
    gap:25px;
    padding: 20px;
    width: 800px;
}

#create-post > form > div {
    display: flex;
    flex-flow: column wrap;
    gap:5px;
}

#create-post > form > div > input, #create-post > form > input {
    width: 50%;
    padding: 5px;
} 

#create-post-submit {
    cursor: pointer;
}