header {
    width: 100%;
    padding: 15px;
    background-color: rgb(26, 26, 26);
    font-size: 18px;
}

header > nav > form {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
}

header > nav > form > #search-input {
    border:none;
    padding: 5px;
    color:black;
    width: 400px;
    outline:none;
    border-radius:5px;
}


header > nav > form > #submit-input {
    width: 80px;
    background-color: white;
    border:none;
    color:black;
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
    transition: .5s;
}

#submit-input:hover{
    background-color: rgb(63, 63, 63);
    color:#05050566;
}

header > nav > ul, header > nav {
    display: flex;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

header > nav {
    width: 100%;
    justify-content: space-between;
}


header > nav > ul{
    padding: 15px;
    gap:25px;
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
    transition: .5s;
}

a:hover{
    color:#666;
}

#logo-container{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    gap:5px;
}

#logo{
    width: 60px;
}


button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: .5s;
}

