#card{
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.37);
    border-radius:15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 25px;
    transition: .5s;
}

#card:hover{
    transform: scale(1.05);
}

#card-img{
    width: 100%;
    border-radius:5px;
    box-shadow: 0 0 15px rgba(56, 56, 56, 0.041);
    cursor: pointer;
}

#card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:50px;
    color:black;
    transition: .5s;
    font-size:18px;
    text-align: center;
    padding: 5px;
}

#card-title:hover{
    color:#6666;
}

#card-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    height:50px;
    font-size:12px;
    
    text-align: center;
}

#card-tag-list{
    font-size:10px;
    text-align: center;
    font-style: italic;
    color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding: 10px;
}

